<ion-content [fullscreen]="true">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap">


    <p class="titulo">HealthHub</p>
    <br>

  <div class="content-wrapper">
    
    <ion-img src="../../assets/images/hospital.png" class="rounded-image"></ion-img>

    <p>
    Bem vindos ao Health Hub, um aplicativo desenvolvido com o objetivo de facilitar o seu atendimento e acabar
    com as filas de espera. Nele você poderá marcar consulta caso você esteja doente
    ou impossibilitado de ir ao médico!
    Faça tudo do conforto de sua casa e marque no dia e horário que achar mais agradável, se ele estiver disponível, claro,
    precisando assim apenas ir no dia.
  </p>
  
  </div>

  <div class="button-wrapper">
    <ion-button class="custom-login-button" fill="clear" routerLink="/login">Log In</ion-button>
    <ion-button class="custom-signup-button" fill="clear" routerLink="/register">Sign Up</ion-button>
  </div>

</ion-content>
