* {
  font-family: 'Montserrat Alternates', sans-serif; /* Tipo de fonte */
}

ion-content {
    --background: linear-gradient(45deg, #7b77a9, #2eb4cc); /* Gradiente de cores para o background */
    display: flex;
    justify-content: center; /* Centralizar na horizontal */
    align-items: center; /* Centralizar na vertical */
    height: 100vh; /* Altura total da viewport */
  }

  .titulo{
    font-size: 36px; /* Tamanho da fonte */
    font-weight: bold;
    color: #333; /* Cor do texto */
    line-height: 1.5;
    margin: 36% auto 0;
    text-align: center;
  }
  
  .content-wrapper {
    background: rgb(212, 212, 212); /* Gradiente de cores para o background */
    //display: flex;
    justify-content: center; /* Centralizar na horizontal */
    align-items: center; /* Centralizar na vertical */
    height: 350px; /* Altura total da viewport */
    border: 2px solid #2c3d3fce; /* Cor da borda */
    border-radius: 10px; /* Arredondamento da borda */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */ /* Cor de fundo */
    max-width: 350px; /* Largura máxima */
     /* Gradiente de cores */
    margin: 0px auto 0; /* Centralizar horizontalmente e afastar do topo */
  }
  
  
  .form-wrapper ion-input {
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 10px; /* Arredondamento da input */
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra da input */
  }
  
  .form-wrapper p {
    font-family: 'Montserrat Alternates', sans-serif; /* Tipo de fonte */
    font-size: 16px; /* Tamanho da fonte */
    color: #000000; /* Cor do texto */
    line-height: 1.5; /* Espaçamento entre linhas */
  }
  
  .custom-login-button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    border-radius: 30px; /* Valor alto para criar bordas circulares */
    background-color: #2ec1cc; /* Cor do botão de login */
    color: #000000; /* Cor do texto do botão de login */
    border: 3px solid transparent;
    transition: background-color 0.3s ease;
  }
  
  .custom-login-button:hover {
    background-color: #2397ab;
  }
  
  .form-wrapper a {
    color: #1b353c; /* Cor do texto do link */
  }
  
  ion-title {
    text-align: center; /* Centralizar o título */
    color: #000000; /* Cor do título */
  }
  
  