<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" (click)="toggleMenu()"></ion-menu-button>
    </ion-buttons>
      <ion-title class="titulo">Hearth Hub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list-header class="titulo-menu">Menu</ion-list-header>
      <ion-item (click)="navigateToConsultasMarcadas()" class="opcoes" lines="full">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Consultas Marcadas</ion-label>
      </ion-item>

      <!--<ion-item (click)="navigateToMarcarExames()" class="opcoes" lines="full">
        <ion-icon name="receipt-outline" slot="start"></ion-icon>
        <ion-label>Marcar Exames</ion-label>
      </ion-item>-->

  </ion-content>

  <ion-footer>
    <ion-item (click)="logout()" class="opcoes">
      <ion-icon aria-hidden="true" name="log-out" slot="start"></ion-icon>
      <ion-label >Sair</ion-label>
      </ion-item>
</ion-footer>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">


  <h1 class="boasVindas">Olá, {{userName}}, Seja bem-vindo(a) ao nosso sistema Hearth Hub</h1>

  <ion-img src="../../../assets/images/pngwing.com (7).png"></ion-img>

  <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total de Consultas Hoje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label><ion-badge color="danger">{{ consultasHoje.length }}</ion-badge> consultas</ion-label>
    </ion-card-content>
    <ion-button fill="clear" expand="block" (click)="navigateToConsultasMarcadas()">Ver Consuntas</ion-button>
  </ion-card>

  <ion-card *ngIf="consultaMaisRecente">
    <ion-card-header>
      <ion-card-title>Consulta Mais Recente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nome:</strong> {{ mostrarNome(consultaMaisRecente.CPF) }}</p>
      <p><strong>CPF:</strong> {{consultaMaisRecente.CPF}}</p>
      <p><strong>Data:</strong> {{ consultaMaisRecente.data.split('T')[0] }}</p>
      <p><strong>Horário:</strong> {{ consultaMaisRecente.Horario }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
