* {
    font-family: "Montserrat Alternates" ,sans-serif;
  }


ion-tab-bar{
    background: linear-gradient(45deg, #7b77a9, #2eb4cc);
    margin: 0;
    border: none;
  }

 ion-tab-button{
    background: none;
    color: #fff;
    margin: 0;
 }

 ion-tab-button.selected{
    background-color: rgb(212, 212, 212);
    color: #333;
    border: 1px 1px 0 1px solid;
    border-radius: 10px 10px 200px 200px;
    padding: 0 5px;
    margin: 0 0px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
 }

 ion-badge{
   background-color: red;
 }