*{
  font-family: 'Montserrat Alternates', sans-serif;
}

ion-content {
  --background: linear-gradient(45deg, #7b77a9, #2eb4cc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-img{
  width: 280px;
  height: 280px;
  display: block;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 50px;
}
.conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 25px;
}

ion-card{ 
  ion-item{
      --background: #00203567;
      --color:black;
      border-radius: 25px;
    }
  background-color: #fff;
  border-radius: 25px;
}

ion-card-title{
  color: black;
}

.boasVindas{
  text-align: center;
  color: black;
  font-size: 26px;

}

.titulo-menu {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  margin: 20px 0px 20px 24%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-toolbar {
  --background: #ffffff;
  --color: #333;

  --min-height: 30px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.ion-padding{
  color: azure;
}

ion-item.opcoes {
  --background: #fff;
  --color: #333;

  --border-color: #fff;
  --border-style: inset;
  --border-width: 2px;

  --border-radius: 5px;

  --detail-icon-color: rgb(33, 100, 207);
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 25px;
}

ion-item.opcoes ion-icon {
  color: var(--detail-icon-color); /* Define a cor do ícone */
  font-size: var(--detail-icon-font-size); /* Define o tamanho do ícone */
}

ion-item.opcoes:active {
  --background: #2eb4cc; /* Define a cor de fundo ao clicar */
}

ion-badge{
  background-color: red;
  border-radius: 100%;
}
